%button_primary {
    border: 0;
    font-family: "Georgia", sans-serif;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929; /* color-dark-3xl */
    background-color: #f1cdb3;
    cursor: pointer;
    height: 3.23rem;
    font-weight: 400;
    line-height: 130%; /* identical to box height, or 22px */
    border-radius: 6.25rem;
  }