footer {
    height: 350px;
    width: 100vw;
    border-radius: 0px;
    background-image: url(../assets/images/footer-gradient-background.png), url(../assets/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    .footer-content {
        width: 1200px;
        height: 310px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .location{
            width: 302px;
        }
        .contacts,
        .location {
            height: 234px;
            position: relative;
            top: 16px;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            justify-items: center;
            align-items: flex-start;
            justify-content: space-between;
            
            h3 {
                white-space: nowrap;
                font-family: "Georgia";
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 130%; /* or 45px */
                letter-spacing: 0.06em;
                color: #ffffff; /* color-light-xl */
                text-align: left;
            }
            .contact_item {
                position: relative;
                top: 0;
                left: 0;
  
                a {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    justify-items: center;
                    align-content: center;
                    .icon {
                        height: 32px;
                        width: 40px;
                        border-radius: 0px;
                        margin-right: 20px;
                    }
                    .marker {
                        height: 32px;
                        width: 22px;
                    }
                    h4 {
                        //styleName: h4;
                        font-family: Georgia;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 23px;
                        letter-spacing: 0.06em;
                        color: #f1cdb3;
                    }
                }
            }
        }
    }
  }
  