$Georgia: Georgia, Verdana, sans-serif;
$Arial: Arial, Verdana, sans-serif;
%button__primary-shared {
    border: 2px solid #f1cdb3;
    border-radius: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    line-height: 130%;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}

.button__primary {
    @extend %button__primary-shared;
    background-color: #f1cdb3;
    color: #292929;
}
.button__secondary {
    @extend %button__primary-shared;
    background: transparent;
    color: #292929;
}
.startScreen__button {
    @extend %button__primary-shared;
    background-color: #f1cdb3;
    color: #292929;
    width: 20.3rem;
    height: 4.8rem;
    &:hover{
        background-color: #FDDCC4;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
.ourFriends__button {
    @extend %button__primary-shared;
    height: 4.8rem;
    width: 25.7rem;
    border-radius: 100px;
    &:hover{
        background-color: #FDDCC4;
        border: 2px solid #FDDCC4;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
.buttonArrow {
    border: 2px solid rgba(241, 205, 179, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;/* user-select -- это нестандартное свойство */
    -moz-user-select: none;    /* поэтому нужны префиксы */
    -ms-user-select: none;
    &:hover {
        background-color: rgba(241, 205, 179, 1);
        
    }
    & img {
        height: 6px;
        width: 14px;
        cursor: pointer;
    }
}
.slider__control_right {
    transform: scale(-1, 1);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

%button__paginator {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 10rem;
}
.button__paginator {
    @extend %button__paginator;
}
.button__paginator_disabled {
    @extend %button__paginator;
    border: 2px solid #cdcdcd;
    background-color: transparent;

    color: #292929;
}

.button__paginator_info {
    @extend %button__paginator;
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
    color: #292929;
}
.button__paginator_active {
    @extend %button__paginator;
    border: 2px solid #f1cdb3;
    background-color: transparent;
    color: #292929;
    &:hover {
        cursor: pointer;
        background-color: #f1cdb3;
    }
}
.button__paginator_h4 {
    //styleName: h4;
    font-family: $Georgia;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    text-align: center;
}
