@font-face {
    font-family: "Arial";  
    src: url("../assets/fonts/arial/arial-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }
     
    @font-face{
    font-family: "Georgia";
    src: url("../assets/fonts/georgia/georgia-regular.ttf format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }