.footer {
    height: 35rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__wrapper {
    position: relative;
    bottom: 0;
    top: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/shelter/SHELTER/assets/images/footer-gradient-background.png), url(/shelter/SHELTER/assets/images/footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: gray;
}
.footer__content {
    height: 31rem;
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.infoBlock {
    position: relative;
    top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contacts {

    row-gap: 4.3rem;
    
}
.location {
    left:-4px;
    row-gap: 3.3rem;
    align-items: flex-start;
}
.infoBlock__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 2rem;
    color: rgba(241, 205, 179, 1);
}
.infoBlock_h3 {
    color: #ffffff;
}
.footer__img {
    position: relative;
    // left: -0.1rem;//свойство то надо то не надо
    height: 31rem;
    width: 30rem;
    max-width: 30rem;
    max-height: 31rem;
}
