@import "_fonts.scss";
@import "_buttonPrimary";
@import "_footer";
@import "_modal";
$font-family: Georgia,"Verdana",sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  width: 80rem;
  overflow-x: hidden;
}
.content {
  position: relative;
  top: 5rem;
  border-radius: 0px;
  margin: 0 auto;
  width: 75rem;
}
.block {
  position: relative;
  width: 100vw;
  left: 0;
  top: 0;
  border-radius: 0px;

}

.button_primary {
  @extend %button_primary;
  width: 207px;
  letter-spacing: 0.09em;
  padding: 15px 0;

  &:hover {
    background-color: #fddcc4;
  }
}
main {
  height: 56.75rem;
  width: 100vw;
  position: relative;
  background-image: url(../assets/images/start-screen-gradient-background.png),
    url(../assets/images/start-screen-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  header {
    position: absolute;
    top: 60px;
    height: 60px;
    min-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      h1 {
        color: #f1cdb3;
        font-family: Georgia,Verdana, sans-serif;
        font-size: 32px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 10px;
        letter-spacing: 0.06em;
      }
      p {
        font-family: Arial,Verdana, sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin: 0;
        color: #ffffff;
        letter-spacing: 0.1em;
        text-align: center;
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      ul {
        margin-bottom: 3px;
        li {
          display: inline;
          margin-right: 32px;
          a {
            font-family: Arial,Verdana, sans-serif;
            font-size: 15px;
            line-height: 160%;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            color: #cdcdcd;
          }
        }
        li:first-child {
          border-bottom: 3px solid #f1cdb3;
          padding-bottom: 4px;
          color: #ffffff;
        }
        li:last-child {
          margin: 0;
        }
      }
    }
  }
  .content-main {
    position: relative;
    width: 1200px;
    height: 728px;
    display: flex;
    flex-direction: row;
    .notOnly {
      position: relative;
      left: 0;
      top: 10.1875rem;
      height: 322px;
      width: 460px;
      border-radius: 0px;

      margin-right: 2.625rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h2 {
        display: block;
        width: 310px;
        height: 114px;
        font-size: 2.75rem;
        font-family: Georgia,Verdana, sans-serif;
        font-weight: 400;
        line-height: 130%;
        margin-bottom: 2.625rem;
        color: #ffffff;
      }
      p {
        font-family: Arial,Verdana, sans-serif;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 1.5rem;
        margin-bottom: 2.625rem;
        color: #cdcdcd;
      }
    }
    .mainImg {
      position: relative;
      bottom: 0;
      left: 0;
    }
  }
}
#about {
  height: 588px;
  background-color: #ffffff;
  .about-content {
    height: 25.5rem;
    img {
      display: inline-block;
      position: absolute;
      left: 10.9375rem;
      top: 0;
    }
    .content-aboutPets {
      position: absolute;
      right: 10.9375rem;
      top: 0.875rem;
      margin: auto 0;
      height: 23.75rem;
      width: 26.875rem;
      border-radius: 0px;

      h3 {
        display: block;
        width: 23.125rem;
        font-family: Georgia,Verdana,sans-serif;
        font-size: 2.1875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: left;
        margin-bottom: 1.5625rem;
        color: #545454;
      }
      p {
        //styleName: paragraph-l;
        font-family: Arial,Verdana, sans-serif;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 1.5625rem;
        letter-spacing: 0px;
        text-align: left;
        line-height: 160%;
        color: #4c4c4c;
      }
    }
  }
}

#Our_Friends {
  height: 877px;
  background-color: #f6f6f6;

  .pets-content {
    height: 697px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h3 {
      position: relative;
      display: block;
      width: 25rem;
      height: 5.625rem;
      font-family: Georgia,Verdana,sans-serif;
      font-size: 2.1875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8125rem;
      line-height: 130%;
      letter-spacing: 0.06em;
      text-align: center;
      margin: 0 auto;
      color: #545454;
    }
    .slider {
      height: 27.1875rem;
      width: 75rem;
      position: relative;
      border-radius: 0px;
      display: grid;
      grid-template-columns: 16.875rem 16.875rem 16.875rem;
      gap: 5.625rem;
      padding: 0 6.5625rem 0 6.5625rem;
      .button_arrow {
        position: absolute;
        border-radius: 50%;
        border: 2px solid #f1cdb3;
        width: 52px;
        height: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 13.59375rem;
        transform: translateY(-50%);
        cursor: pointer;
        &:hover {
          background-color: #fddcc4;
          border: 2px solid #fddcc4;
        }
      }
      .disable_btn {
        border: 2px solid #cdcdcd;
      }
      .left {
        left: 0px;
      }
      .right {
        right: 0px;
      }
      .card {
        height: 435px;
        width: 270px;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #fafafa;
        &:hover {
          cursor: pointer;
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          border-radius: 0px;
          button {
            background-color: #fddcc4;
          }
        }
      }
      p {
        font-family: Georgia,Verdana,sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: capitalize;
        padding: 1.875rem 0;
        vertical-align: middle;
      }
      .button-secondary {
        height: 3.25rem;
        width: 11.6875rem;
        border-radius: 6.25rem;
        border: 2px solid #f1cdb3;
        background-color: #ffffff;
        border-radius: 100px;
        cursor: pointer;
        font-family: Georgia,Verdana,sans-serif;
        font-size: 1.0625rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0.06em;
        text-align: center;
      }
    }
    .button_primary {
      letter-spacing: 0.06em;
      width: 261px;
      font-size: 1.0625rem;
    }
  }

}
#help {
  height: 611px;
  background: #ffffff;
  .help-content {
    height: 431px;
    h3 {
      //styleName: h3;
      font-family: Georgia,Verdana,sans-serif;
      font-size: 35px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0.06em;
      text-align: center;
      color: #545454;
    }
    .content-list {
      position: relative;
      top: 3.75rem;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 3.4375rem 7.5rem;
      justify-content: center;

      .list-item {
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        img {
          max-width: 3.75rem;
          max-height: 3.75rem;
          margin: 0 auto 1.875rem auto;
        }
        h4 {
          font-family: "Georgia",Verdana,sans-serif;
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 1.4375rem;
          letter-spacing: 0.06em;
          text-align: center;
          font-style: normal;
          color: #545454; /* color-dark-l */
        }
      }
    }
  }
}
#donation {
  width: 100vw;
  height: 462px;
  background-color: #f6f6f6;
  .donation-content {
    height: 282px;
    width: 915px;
    display: flex;
    flex-direction: row;
    img {
      position: relative;
      left: 0;
      margin: auto 30px auto 0;
      display: block;
      height: 261px;
      width: 505px;
      border-radius: 0px;
    }
    .donation-text {
      h3 {
        font-family: "Georgia",Verdana,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%; /* or 45px */
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454; /* color-dark-l */
        padding-bottom: 20px;
      }
      h5 {
        font-family: "Georgia",Verdana,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        /* identical to box height, or 17px */
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        /* color-dark-l */
        color: #545454;
        padding-bottom: 20px;
      }
      .credit-card {
        width: 349px;
        height: 43px;
        background: #f1cdb3; /* color-primary */
        border-radius: 9px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        &:hover {
          background-color: #fddcc4;
        }
        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          h4 {
            font-family: "Georgia",Verdana,sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%; /* identical to box height, or 23px */
            letter-spacing: 0.06em;
            color: #545454; /* color-dark-l */
          }
          img {
            height: 23px;
            width: 30px;
            margin: 0;
            border-radius: 0px;
            margin-right: 15px;
          }
        }
      }
      p {
        font-family: "Arial",Verdana,sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px; /* or 150% */
        display: flex;
        align-items: center;
        color: #b2b2b2; /* color-dark-m */
      }
    }
  }
}

