$Georgia: Georgia, Verdana, sans-serif;
$Arial: Arial, Verdana, sans-serif;
.startScreen {
    background-image: url(/shelter/assets/images/start-screen-gradient-background.png),
        url(/shelter/assets/images/start-screen-background.jpg);
    background-color: #5c5656;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.8rem;
    border-radius: 0px;
    position: relative;
}
#burger__toggle {
    display: none;
}
.startScreen__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.startScreen__content {
    position: relative;
    left: -1px;
    width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.startScreen__description {
    position: relative;
    top: -4rem;
    left: 0;
    @media (min-width: 768px) {
        height: 32.2rem;
        width: 46.1rem;
    }

    display: flex;
    flex-direction: column;
    row-gap: 4.2rem;
    align-items: flex-start;
    justify-content: space-between;
}
.content__h2 {
    font-family: $Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 130%; /* or 57px */
    display: flex;
    align-items: center;
    color: #ffffff; /* color-light-xl */
}
.content__p {
    font-family: $Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%; /* or 24px */
    display: flex;
    align-items: center;
    color: #cdcdcd; /* color-dark-s */
}
.content__link {
    font-family: $Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%; /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    color: #292929; /* color-dark-3xl */
}
.startScreen__mainImage {
    max-width: 100%;
    max-height: 100%;
}
