$Georgia: Georgia, Verdana, sans-serif;
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
}
.modalWindow__background {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: rgba(41, 41, 41, 0.692);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.showModal_animation{
   animation-duration: 0.5s;
    animation-fill-mode:forwards;
    -webkit-animation-name: showModal; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: showModal;
}
.hideModal_animation{
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
  -webkit-animation-name: hideModal; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: hideModal;

}
@keyframes showModal {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes hideModal {
  from {opacity: 1;}
  to {opacity: 0;}
}

.modalWindow {
  position: relative;
  height: 50rem;
  &:hover {
    .modalWindow__btn_close {
      background-color: #f1cdb3;
      transition: 0.25s;
    }
  }
  

}

.modalWindow__btn_close {
  z-index: 999;
  width: 5.2rem;
  height: 5.2rem;
  position: relative;
  top: -55.2rem;
  left: 89rem;
  color: #000000;
  
  border: 0.2rem solid #f1cdb3;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #757575;
  &:hover{
    background-color: #f1cdb3;
    transition: 0.25s;
  }
  
}
.modalWindow__wrapper {
  z-index: 1000;
  position: relative;
  min-height: 50rem;
  width: 90rem;
  border-radius: 0.9rem;
  background: #fafafa;
  box-shadow: 0 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
  display: flex;
  flex-direction: row;
  cursor: default;
}
.modalWindow__img {
  width: 50rem;
  height: 50rem;
  border-radius: 0.9rem 0 0 0.9rem;
}
.modalWindow__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3rem;
  margin-top: 5rem;
  width: 35.1rem;
}
.modalWindow__h3 {
  position: relative;
  font-family: $Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
}
.modalWindow__h4 {
  margin-top: 1rem;
  font-family: $Georgia;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
}
.modalWindow__h5 {
  margin: 4rem 0;
  font-family: $Georgia;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  text-align: left;
  color: #000000;
}
.modalWindow__h5_bold {
  font-family: $Georgia;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: #000000;
  font-style: normal;
  line-height: 110%;
}
.modalWindow__ul {
  position: relative;
  top: -1px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.modalWindow__li {
  list-style-type: none;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  & span {
    font-family: $Georgia;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.06em;

    color: #000000;
  }
}
.modalWindow__circle {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #f1cdb3;
  margin-right: 1rem;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .modalWindow {
    height: 35rem;
  }
  .modalWindow__wrapper {
    min-height: 35rem;
    width: 63rem;
  }
  .modalWindow__img {
    width: 35rem;
    height: 35rem;
  }
  .modalWindow__description {
    margin: 1rem 0 0 1.1rem;
  }
  .modalWindow__h5 {
    margin: 2rem 0;
    font-family: $Georgia;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.06em;
    text-align: left;
    word-wrap: break-word;
  }
  .modalWindow__h5_bold {
    font-family: $Georgia;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 0.13em;

    & span {
      //styleName: h5;
      font-family: $Georgia;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.7rem;
      letter-spacing: 0.06em;
    }
  }

  .modalWindow__btn_close {
    top: -40.2rem;
    left: 62.1rem;
  }
  .modalWindow__ul {
    row-gap: 0.6rem;
  }
}
@media (max-width: 768px) {
  .modalWindow{
    max-height: 32.1rem;
  }
  .modalWindow__wrapper {
    min-height: 32.1rem;

    width: 22rem;
    border-radius: 9px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 1rem;
  }
  .modalWindow__img {
    display: none;
  }
  .modalWindow__description {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .modalWindow__ul {
    row-gap: 0.5rem;
    align-self: flex-start;
  }
  .modalWindow__h5 {
    margin: 2rem 0 2.4rem 0;
    font-family: Georgia;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.06em;
    text-align: justify;
  }
  .modalWindow__btn_close {
    position: absolute;
    top: -5.2rem;
    left: 21.8rem;
  }
}
