.nextLeftSlider{

    position: absolute;
    left: 100%;
   
}
.hideAll {
    animation-name: hideAll;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.showAll {
    animation-name: showAll;
    animation-timing-function: ease-in-out;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}
.activateBtn{
    transform: scale(-1,1);
    
}
@keyframes hideAll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showAll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}